{% extends "DbgProspectBundle::layout.html.twig" %}

 
{% block title %}
    Modification d'un article - {{ parent() }}
{% endblock %}

{% block devskills_body %}
 {% include "DbgProspectBundle:Prospect:formulaire.html.twig" %}

<p>
  <a href="{{ path('dbgprospect_accueil') }}" class = "btn"> <i class="icon-chevron-left"></i>
  Retour liste </a>
  <a href="{{ path('dbgprospect_modifier', {'id':article.id}) }}" class = "btn"> <i class="icon-edit"></i>
  Modifier l'article </a>
  <a href="{{ path('dbgprospect_supprimer', {'id':article.id}) }}" class = "btn"> <i class="icon-trash"></i>
  supprimer l'article </a>
  
  
</p>
{% endblock %}