<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Byebye {{ name }}!</title>


</head>

<body>
	<div id="page" class="limited liste_modeles">
		<div id="header">
			<div class="left">
				<h1><span class="titleFirst">LES JOURS</span> RENAULT<span class="titleLast">SHOP<span class="titleBlack">&</span><i>GO</i></span></h1>
								<div class="social">
					<div class="fb"><a href="http://www.facebook.com/sharer/sharer.php?u=http://rnlt.fr/2QHKL0" class="noajax" target="_blank"></a></div>
					<div class="tw"><a href="https://twitter.com/intent/tweet?text=Promotions Véhicules Particuliers - Renault France&via=Renault_Fr&hashtags=Renault&url=http://rnlt.fr/HktZFz" class="noajax" target="_blank"></a></div>
				</div>
			</div>
			<div class="right">
				<a href="http://www.renault.fr" class="noajax">
				<div class="catch">changeons de vie<br />changeons l'automobile</div>
				<div class="logo"></div>
				</a>
			</div>
		</div>
		<div id="container">		<div id="splash" style="width:940px;position:absolute;z-index:99;top:0;left:0;padding:20px;height:100%;display:none;"><img src="http://renault_ope.renault.marcel.typhon.net/preview/images/splash-img-homepage-980x540.gif?1390297529" alt="" style="width:940px"/></div>
		<div id="wrapper" >
			<div class="top">
				<h2>Les jours Renaultshop&Go</h2>
				<h2 class="title2">Nos autres offres</h2>
							</div>
			<div class="inner">
				<div class="sub promo-link"><a href="javascript:void(0)" onClick="window.open('http://www.renaultshop.fr/', 'Renault');" target="_blank"><img src="http://renault_ope.renault.marcel.typhon.net/preview/images/img-promo-frenchTouch.jpg" alt=""/></a></div>				<div class="slider">
					<div class="slider_prev nav"></div>
					<div class="slider_inner">
						<ul class="clearfix">
							<li class="clearfix">
													<div class="modele">
								<a href="twingo_limited">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/twingo_limited.jpg" alt="twingo_limited" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">TWINGO LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">9 190€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="clio_collection">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/clio_collection.jpg" alt="clio_collection" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">CLIO COLLECTION<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">8 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="clio">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/clio.jpg" alt="clio" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">CLIO BERLINE<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">10 790€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="clio_estate">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/clio_estate.jpg" alt="clio_estate" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">CLIO ESTATE<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">11 390€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="kangoo">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/kangoo.jpg" alt="kangoo" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">KANGOO LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">15 790€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="megane_berline">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/megane_berline.jpg" alt="megane_berline" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">MÉGANE LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">17 290€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
						</li>
						<li>							<div class="modele">
								<a href="scenic">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/scenic.jpg" alt="scenic" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">SCÉNIC LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">19 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="scenic_xmod">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/scenic_xmod.jpg" alt="scenic_xmod" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">SCÉNIC XMOD<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">19 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="koleos">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/koleos.jpg" alt="koleos" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">KOLEOS<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">23 490€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="laguna_berline">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/laguna_berline.jpg" alt="laguna_berline" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">LAGUNA LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">18 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="laguna_estate">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/laguna_estate.jpg" alt="laguna_estate" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">LAGUNA ESTATE LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">19 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													<div class="modele">
								<a href="espace">
									<span class="photo">
										<img src="http://renault_ope.renault.marcel.typhon.net/preview/media/vignette/limited/espace.jpg" alt="espace" />
									</span>
									<span class="info">
										<span class="left">
											<span class="titre_vignette">ESPACE LIMITED<br /></span>
											<span class="ss_titre_vignette">À PARTIR DE</span>
										</span>
										<span class="right">
											<span class="prix_vignette">24 990€*<br /></span>
											<span class="condition_vignette">SOUS CONDITION DE REPRISE</span>
										</span>
									</span>
								</a>
							</div>
													</li>
						</ul>
					</div>
					<div class="slider_next nav"></div>
				</div>
								<div class="mention">* Mentions légales disponibles sur la fiche véhicule</div>
			</div>
		</div>
			<div id="footer">
				<ul>
					<li class="limited"><a href="home">Les offres RenaultShop&go</a></li>
					<li class="tv"><a href="films">La vidéo</a></li>
					<!--<li class="jeu"><a href="jeu">GRAND JEU RENAULT</a></li>-->
									</ul>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="http://www.renault.fr/utag/utag-rfr.js"></script>
	<script type="text/javascript" src="http://www.renault.fr/utag/utag-rcentral.js"></script>
	<script type="text/javascript" src="http://www.renault.fr/utag/utag-globalfr.js"></script>
	<script type="text/javascript">
	var _s4mq = _s4mq || [];
	_s4mq.push(['trackLanding']);
	(function() {
	var s4mScript = document.createElement('script'); s4mScript.type =
	'text/javascript'; s4mScript.async = true;
	s4mScript.src = ('https:' == document.location.protocol ? 'https://' : 'http://')
	+ 'eu-adstatic.sam4m.com/analytics/js/pad/s4m.js';
	var s4mElement = document.getElementsByTagName('script')[0];
	s4mElement.parentNode.insertBefore(s4mScript, s4mElement);
	})();
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-5929204-2', 'renault.fr');
	  ga('send', 'pageview');

	</script>
	
</body>
</html>
