<html>
<title>Hello {{ name }}!</title>
<body id="page" class="page sidebar-a-right sidebar-b-right isblog " data-config='{"twitter":1,"plusone":1,"facebook":1}'>

	<div id="page-bg">
	
		<div id="page-bg2">

						
			<div id="block-toolbar">
			
				<div class="wrapper">
					
					<div id="toolbar" class="grid-block">
				
												<div class="float-left">
						
														<time datetime="2014-01-29">mercredi 29 janvier 2014</time>
													
							<div class="module   deepest">

					
</div>							
						</div>
													
											
					</div>
					
				</div>
				
			</div>
			
			<div class="wrapper grid-block">
		
				<header id="header">
		
					<div id="headerbar" class="grid-block">
					
							
						<a id="logo" href="http://www.d2bg-consulting.com">
<p><img src="/images/yootheme/logo.png" border="0" alt="logo" width="970" height="100" /></p></a>
												
												
					</div>
		
					<div id="menubar" class="grid-block">
						
												<nav id="menu"><ul class="menu menu-dropdown"><li class="level1 item167 hassubtitle"><a href="/index.php/notre-metier" class="level1"><span><span class="icon" style="background-image: url('http://www.d2bg-consulting.com/images/yootheme/menu/icon_bluestripes.png');"> </span><span class="title">Notre Métier</span><span class="subtitle">le conseil en recrutement</span></span></a></li><li class="level1 item160 parent active current hassubtitle"><a href="/" class="level1 parent active current"><span><span class="icon" style="background-image: url('http://www.d2bg-consulting.com/images/yootheme/menu/icon_bluestripes.png');"> </span><span class="title">Candidat</span><span class="subtitle">Freelance</span></span></a><div class="dropdown columns1"><div class="dropdown-bg"><div><div class="width100 column"><ul class="level2"><li class="level2 item163"><a href="/index.php/espace-candidat-freelance/formulaire-freelance" class="level2"><span>Formulaire Freelance</span></a></li></ul></div></div></div></div></li><li class="level1 item166 hassubtitle"><a href="/index.php/espace-entreprise-recruteur" class="level1"><span><span class="icon" style="background-image: url('http://www.d2bg-consulting.com/images/yootheme/menu/icon_bluestripes.png');"> </span><span class="title">Entreprise</span><span class="subtitle">Recruteur</span></span></a></li><li class="level1 item168 hassubtitle"><a href="/index.php/acces" class="level1"><span><span class="title">Plan d'acces</span><span class="subtitle">Itinéraires</span></span></a></li><li class="level1 item185 hassubtitle"><a href="/index.php/contact" class="level1"><span><span class="title">Contact</span><span class="subtitle">Freelance -DSI</span></span></a></li></ul>
<ul class="menu menu-dropdown">
	<li class="level1 parent">
		<span class="level1 parent">
			<span><span class="title">Connexion </span><span class="subtitle"> </span></span>
		</span>
		<div class="dropdown columns1" >
			<div class="dropdown-bg">
				<div>
					<div class="module">

	<form class="short style" action="/index.php" method="post">
	
		
		<div class="username">
			<input type="text" name="username" size="18" placeholder="Identifiant" />
		</div>

		<div class="password">
			<input type="password" name="password" size="18" placeholder="Mot de passe" />
		</div>

				<div class="remember">
						<label for="modlgn-remember-568080544">Se souvenir de moi</label>
			<input id="modlgn-remember-568080544" type="checkbox" name="remember" value="yes" checked />
		</div>
				
		<div class="button">
			<button value="Connexion" name="Submit" type="submit">Connexion</button>
		</div>
		
		<ul class="blank">
			<li>
				<a href="/index.php/component/users/?view=reset">Mot de passe oublié ?</a>
			</li>
			<li>
				<a href="/index.php/component/users/?view=remind">Identifiant oublié ?</a>
			</li>
						<li>
				<a href="/index.php/component/users/?view=registration">Créer un compte</a>
			</li>
					</ul>
		
				
		<input type="hidden" name="option" value="com_users" />
		<input type="hidden" name="task" value="user.login" />
		<input type="hidden" name="return" value="aW5kZXgucGhwP0l0ZW1pZD0xNjA=" />
		<input type="hidden" name="5df5cc665c310303cb218d03fb4fae57" value="1" />	</form>
	
	<script>
		jQuery(function($){
			$('form.login input[placeholder]').placeholder();
		});
	</script>
	
</div>
				</div>
			</div>
		</div>
	</li>
</ul>
</nav>
								
												<div id="search">
<form id="searchbox-40" class="searchbox" action="/index.php" method="post" role="search">
	<input type="text" value="" name="searchword" placeholder="search..." />
	<button type="reset" value="Reset"></button>
	<input type="hidden" name="task"   value="search" />
	<input type="hidden" name="option" value="com_search" />
	<input type="hidden" name="Itemid" value="160" />	
</form>

<script src="/templates/yoo_cloud/warp/js/search.js"></script>
<script>
jQuery(function($) {
	$('#searchbox-40 input[name=searchword]').search({'url': '/index.php/component/search/?tmpl=raw&amp;type=json&amp;ordering=&amp;searchphrase=all', 'param': 'searchword', 'msgResultsHeader': 'Search Results', 'msgMoreResults': 'More Results', 'msgNoResults': 'No results found'}).placeholder();
});
</script></div>
												
					</div>
				
									
				</header>
		
								
								
								<div id="main" class="grid-block">
				
					<div id="maininner" class="grid-box">
					
								
								
												<section id="content" class="grid-block">
<div id="system-message-container">
</div>

<div id="system">

	
	
	
	
	<div class="items items-col-0 grid-block"><div class="grid-box width100 leading">
<article class="item" data-permalink="http://www.d2bg-consulting.com/index.php/24-espace-candidat">

	
	
	<div class="content clearfix">
		<h1> Vous êtes un <strong>freelance</strong> à la recherche de missions IT,travailler avec  <!-- Jumi intro including some php code (sitename, username) - see below. -->

d2bg-consulting.com vous assure une relation de qualité et durable.</h1>
<p> </p>
<div>
<ul>
<ul>
<li>Votre profil n'est pas utilisé sans votre accord et vos données sont gérées en toute confidentialité.</li>
<li>Vous passez un entretien, vous recevez un feedback personnalisé et constructif dans la foulée par téléphone.</li>
<li>Vous vous demander comment préparer votre entretien, nous vous conseillons sur les techniques de préparation en vous donnant des conseils personnalisés.</li>
<li>Vous avez une question, nos spécialistes du recrutement sont à votre disposition pour vous répondre</li>
<li>Le plus <!-- Jumi intro including some php code (sitename, username) - see below. -->

d2bg-consulting.com : plus vous restez chez nos clients, plus votre taux journalier augmente.</li>
</ul>
</ul>
<h1>De notre coté, nous apprécions lorsque</h1>
<ul>
<ul>
<li>Vous nous informez de tout changement dans votre situation personnelle, dans votre CV, de vos disponibilités et de vos lieux d'intervention.</li>
<li>Vous nous donnez votre opinion quant à votre retour d'expérience avec </li>
<li>Vous nous informez sur l'état de votre recherche d’emploi</li>
<li>Vous vous présentez à chaque entretien et vous êtes ponctuels, et vous nous tenez informé à temps si vous ne pouvez pas venir</li>
<li>Vous honorez vos engagements auprès de <!-- Jumi intro including some php code (sitename, username) - see below. -->

d2bg-consulting.com et ses clients</li>
</ul>
</ul>
</div>
<p> </p>
<h1>Information Prestataires</h1>
<p><!-- Jumi intro including some php code (sitename, username) - see below. -->

d2bg-consulting.com propose un service complet de recrutement pour les freelances du secteur informatique.</p>
<p>Notre équipe de back-office est à votre service pour vous aider tout au long de votre projet.</p>
<p>Nous mettons à votre disposition :</p>
<p>Un service de gestion du temps en ligne qui permet la gestion des timesheets. Il a été conçu pour répondre à vos besoins de facturation en cours de projet et pour vous assurer d'être payé dans les délais en fonction du contrat. Ce service peut vous faciliter les taches de facturation. Votre responsable approuve votre compte rendu d'activité par notre site en ligne. Les factures sont calculées directement à partir des relevés d'activité, et sont transférées immédiatement à la comptabilité de <!-- Jumi intro including some php code (sitename, username) - see below. -->

d2bg-consulting.com supprimant ainsi tous risques de retard.</p>
<p>Notre système en ligne vous permet de suivre la situation de chaque facture, et de produire des synthèses des factures payées, incluant la totalité des feuilles d'activité et le détail des factures.</p>	</div>

	
	
		
</article></div></div>
	
	
</div></section>
								
								
					</div>
					<!-- maininner end -->
					
										
							
				</div>
								<!-- main end -->
		
								
								
								<footer id="footer" class="grid-block">
		
										<a id="totop-scroller" href="#page"></a>
							
							
				</footer>
								
			</div>
				
		</div>

	</div>
	
		
</body>
</html>

