{% extends "::layout.html.twig" %}
 
{% block title %}
    Dev - {{ parent() }}
{% endblock %}
 
{% block body %}
    {% block devskills_body %}
    <p>
{# affichage des messages dont le nom es tinfo#}
{%for message in app.session.flashbag.get('info') %}
<p> {{ message }} </p>
{% endfor %}
</p>
    {% endblock %}
{% endblock %}

     